@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f2f3f3;
  --foreground: #171717;
  --pink: #e91e63;
  --dark-pink: #c2185b;
}

body {
  font-family: 'Bricolage Grotesque', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--background);
}

.app-container {
  @apply container mx-auto xl:px-[5rem] px-5;
}

.bg-pink {
  background-color: var(--pink);
}
.color-pink {
  color: var(--pink);
}

.light-pink {
  background-color: var(--pink);
  opacity: 0.1;
}